<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/add-article-page.css" rel="stylesheet">
</head>
<body>
  <main>
    <div>
      <form action="/app/add/article" method="post">
        <label id="title">
          <input type="text" name="title" placeholder="Enter title">
        </label>
        <label id="content">
          <textarea name="content" rows="5" cols="40" placeholder="Enter content"></textarea>
        </label>
        <input type="hidden" name="serverId" th:value="${server.getId()}">
        <input type="submit" value="Create article">
      </form>
    </div>
  </main>
</body>
</html>