<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/app-page.css" rel="stylesheet">
</head>
<body>
  <header>
      <div>
          <h1>
              Personal Blog
          </h1>
      </div>
  </header>

  <main>
      <section>
          <div id="list-history" th:each="article: ${articles}">
              <div class="history">
                  <div class="name">
                      <a href="">
                          <div th:text="${article.getTitle()}"></div>
                      </a>
                  </div>
                  <div class="other">
                      <div class="date" th:text="${article.getDateTime().toLocalDate()}">
                      </div>
                      <div class="buttons">
                          <form action="/app/delete/article" method="post">
                              <input type="hidden" name="id" th:value="${article.getId()}">
                              <label class="delete">
                                  <input type="submit" value="">
                              </label>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section>
          <div id="add">
              <form action="/app/add/article">
                  <input type="submit" value="+">
              </form>
          </div>
      </section>
  </main>

  <footer>

  </footer>

</body>
</html>
