<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/app-page.css" rel="stylesheet">
</head>
<body>
  <header>
      <div>
          <h1>
              Personal Blog
          </h1>
      </div>
  </header>

  <main>
      <section>
          <div id="list-history">
              <div class="history">
                  <div class="name">
                      <a href="">
                          my first article
                      </a>
                  </div>
                  <div class="date">
                      August 7, 2024
                  </div>
              </div>
              <div class="history">
                  <div class="name">
                      <a href="">
                          my second article
                      </a>
                  </div>
                  <div class="date">
                      August 7, 2024
                  </div>
              </div>
              <div class="history">
                  <div class="name">
                      <a href="">
                          my third article
                      </a>
                  </div>
                  <div class="date">
                      August 7, 2024
                  </div>
              </div>
          </div>
      </section>
  </main>

  <footer>

  </footer>

</body>
</html>