<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/landing-page.css" rel="stylesheet">
</head>
<body>
  <header>
  </header>
  <main>
    <section>
      <div id="main-info">
        <div id="header">
          <h1>
            <div>
              Welcome to our site about blogs!
            </div>
            <div>
              We are glad to see you.
            </div>
          </h1>
        </div>
        <div id="references">
          <div class="reference">
            <a href="/login">
              Login
            </a>
          </div>
          <div class="reference">
            <a href="/registration">
              Sign up
            </a>
          </div>
          <div class="reference">
            <a href="/find">
              User search
            </a>
          </div>
          <div class="reference">
            <a href="/app">
              My blog
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>