<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/login-page.css" rel="stylesheet">
</head>
<body>
  <main>
    <section>
      <div id="form">
        <div>
          Login
        </div>
        <div>
          <form action="/login" method="post">
            <div id="fields">
              <label>
                <input type="email" name="email" placeholder="Enter your email">
              </label>
              <label>
                <input type="password" name="password" placeholder="Enter your password">
              </label>
              <div id="send">
                <input type="submit" value="send">
              </div>
            </div>
          </form>
        </div>
        <div id="go-to-registration">
          <a href="/registration">
            Proceed to registration
          </a>
        </div>
      </div>
    </section>
  </main>
</body>
</html>